<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.discordLike.mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.discordLike.mapper.TextChannelMapper">

    <insert id="addChannel">
        insert into text_channel(channel_name, channel_owner, channel_description)
        values (#{channel.name}, #{channel.owner.id}, #{channel.description});
    </insert>
    <insert id="addChannelToServer">
        insert into server_channel(server_id, channel_id)
        values (#{serverId}, #{channelId});
    </insert>

    <select id="getLastId" resultType="java.lang.Integer">
        select last_insert_id();
    </select>

</mapper>